<!DOCTYPE html>

{% load staticfiles %}

<html>
	<head>
		<title>Swiss Tournaments Manager</title>

		<meta name="author" content="Giorgos Tzampanakis">
		<meta name="description" content="Manage swiss-system chess tournaments">
		<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
		<link rel="shortcut icon" href="/static/cacheable/favicon.ico">

		<script src="{% static 'swiss/jquery.js' %}" type="text/javascript"></script>
		<script src="{% static 'swiss/bootstrap.js' %}" type="text/javascript"></script>
		<script src="{% static 'swiss/underscore.js' %}" type="text/javascript"></script>
		<script src="{% static 'swiss/backbone.js' %}" type="text/javascript"></script>
		<script src="{% static 'swiss/backbone-pageable.js' %}" type="text/javascript"></script>
		<script src="{% static 'swiss/backgrid.js' %}" type="text/javascript"></script>
		<script src="{% static 'swiss/backgrid-filter.js' %}" type="text/javascript"></script>
		<script src="{% static 'swiss/backgrid-paginator.js' %}" type="text/javascript"></script>

		<script src="{% static 'swiss/top.js' %}" type="text/javascript"></script>


		<link rel="stylesheet" href="{% static 'swiss/backgrid.css' %}">
		<link rel="stylesheet" href="{% static 'swiss/backgrid-filter.css' %}">
		<link rel="stylesheet" href="{% static 'swiss/backgrid-paginator.css' %}">

		<link rel="stylesheet" href="{% static 'swiss/layout.css' %}">

		<script type="text/javascript">
		</script>


	</head>
	<body>



	</body>
</html>
